#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch
# cdrom
text

# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_SG.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$1so4YrpQjFwkxum3$5Unnf7Qwj272HetdNpk5Cro/eLZdiVNsyGY.y/bceJVhSpRMdhxdYHOfnIFBE9CsLT.7SxwtTpReR2xGbpoR7/
# System timezone
timezone Asia/Singapore --isUtc
user --groups=wheel --name=vagrant --password=$6$Ir6R4w71VmdDlc9Z$CyredFDWnU7eVWmzLOSNsZhBZ2f6jObZJ76jH62jJgUC.2q9luDbyuAZF0JRRTZnwjwWmgDzJBLSP4bJDWpBN. --iscrypted --gecos="Vagrant"
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

reboot --eject

%packages
@^minimal-environment
@development-tools
@editors
@guest-agents
@headless-management
@sound-and-video
@system-tools
-firewalld
-open-vm-tools
facter
kernel-devel
kernel-headers
curl
unzip
patch
%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
%end

%post --erroronfail

exec < /dev/tty3 > /dev/tty3
chvt 3

dnf update -y

cat <<EOF > /etc/sudoers.d/vagrant
Defaults:vagrant !requiretty
vagrant ALL=(ALL) NOPASSWD: ALL
EOF
chmod 440 /etc/sudoers.d/vagrant

%end
